body {
    background-image: linear-gradient(to bottom, rgb(90, 32, 167), rgb(91, 39, 151));
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: white;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.container .navbar {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.box {
    color: rgb(107, 106, 106);
    font-weight: 500;
    font-size: large;
}

.container .navbar .button1 {
    width: 105px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(147, 60, 227);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    animation-name: button1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes button1 {
    from {
        color: chartreuse;

    }

    to {
        color: yellow;
    }
}

.button1:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.name {
    color: rgb(79, 78, 78);
    font-weight: 900;
    font-size: xx-large;
    width: bold;
    font-family: 'Times New Roman', Times, serif;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes title {
    from {
        color: rgb(79, 78, 78);
        position: relative;
        left: 5px;
        top: 5px;
    }

    to {
        color: rgb(121, 43, 194);
        position: relative;
        left: 10px;
        top: 10px;
        transform: scale(1.10);
        transition: all 0.3s;
    }
}

.hero {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.content {
    display: flex;
    flex-direction: column;
}

.container .content .heading {
    font-size: x-large;
    width: bolder;
    font-weight: 900;
    color: rgb(76, 75, 75);
}

.passion {
    display: flex;
    gap: 10px;
    transition: all 0.3s;
    animation-name: passion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#id1 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(69, 68, 68);
    animation-name: web;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes web {
    from {
        color: rgb(69, 68, 68);
        /* font-size: 33px; */
    }

    to {
        color: rgb(121, 43, 194);
        /* font-size: 36px; */
    }
}

#id2 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(121, 43, 194);
    animation-name: dev;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dev {
    from {
        color: rgb(121, 43, 194);
        /* font-size: 33px; */
        word-spacing: 0px;
    }

    to {
        color: rgb(69, 68, 68);
        /* font-size: 36px; */
        word-spacing: 5px;
    }
}

.container .paragraph {
    color: rgb(128, 127, 127);
    width: 30vw;
}

.bottom button {
    padding: 3px 25px;
    border: 2px solid purple;
    color: purple;
    cursor: pointer;
    display: flex;
    gap: 10px;

}

.b1:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transform: scale(1.10);
    transition: all 0.3s;

}

.b2:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transform: scale(1.10);
    transition: all 0.3s;

}

.footer {
    display: flex;
    height: 0vh;
    gap: 1px;
    position: relative;
    left: 80px;
    align-self: self-start;

}

.footer #p1 {
    color: white;
    font-weight: 50px;

}

.footer #p2 {
    color: rgb(14, 134, 104);
    font-weight: 50px;

}

.image img {
    width: 40vw;
    image-rendering: -moz-crisp-edges;
    border-radius: 10px;
}

.image img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.logo .dil {
    font-size: x-large;
    position: relative;
    bottom: 5px;

}