body {
    background-image: linear-gradient(to bottom, rgb(90, 32, 167), rgb(91, 39, 151));
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: white;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.container .navbar {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.box {
    color: rgb(107, 106, 106);
    font-weight: 500;
    font-size: large;
}

.container .navbar .button1 {
    width: 105px;
    height: 30px;
    background-color: rgb(147, 60, 227);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.name {
    color: rgb(79, 78, 78);
    font-weight: 900;
    font-size: xx-large;
    width: bold;
    font-family: 'Times New Roman', Times, serif;
}

.hero {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.content {
    display: flex;
    flex-direction: column;
}

.container .content .heading {
    font-size: x-large;
    width: bolder;
    font-weight: 900;
    color: rgb(76, 75, 75);
}

.passion {
    display: flex;
    gap: 10px;
}

.content #id1 {
    font-weight: bolder;
    font-size: 35px;
    color: rgb(69, 68, 68);
}

.content #id2 {
    font-weight: bolder;
    font-size: 35px;
    color: rgb(121, 43, 194);
}

.container .paragraph {
    color: rgb(128, 127, 127);
    width: 30vw;
}

.bottom button {
    padding: 3px 25px;
    border: 2px solid purple;
    color: purple;
    cursor: pointer;
}

.b1:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transition: all 0.3s;

}

.b2:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transition: all 0.3s;

}

.footer {
    display: flex;
    height: 0vh;
    gap: 1px;
    position: relative;
    left: 80px;
    align-self: self-start;

}

.footer #p1 {
    color: white;
    font-weight: 50px;

}

.footer #p2 {
    color: rgb(14, 134, 104);
    font-weight: 50px;

}

.image img {
    width: 35vw;
    image-rendering: -moz-crisp-edges;
}

.logo {
    display: flex;
    gap: 30px;
    position: relative;
    bottom: -20px;
}

.logo svg {
    background-color: rgb(112, 109, 109);
    color: white;
    border: 1px rgb(91, 88, 88) solid;
    border-radius: 50px;
    font-size: x-large;
}

.logo .rating {
    background-color: white;
    color: rgb(83, 81, 81);
    border: rgb(75, 74, 74);
    font-size: x-large;
    position: relative;
    bottom: 5px;

}

.logo .dil {
    font-size: x-large;
    position: relative;
    bottom: 5px;

}