* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, rgb(90, 32, 167), rgb(91, 39, 151));
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
}

.container .navbar {
    color: black;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    z-index: 10;
    padding: 5px;
}

a {
    text-decoration: none;
}

.box {
    color: rgb(107, 106, 106);
    font-weight: 500;
    font-size: large;
}

.box:hover {
    color: rgb(96, 42, 132);
    transform: scale(1.10);
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: black;
}

.container .navbar .button1 {
    width: 105px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(147, 60, 227);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    animation-name: button1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes button1 {
    from {
        color: chartreuse;

    }

    to {
        color: yellow;
    }
}

.button1:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

.name {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: 900;
    font-size: x-large;
    width: bold;
    font-family: cursive;
    text-align: center;
    transition: all 0.2s;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes title {
    from {
        color: rgb(17, 17, 17);
    }

    to {
        color: rgb(247, 7, 7);
        transform: scale(1.10);
        transition: all 0.3s;
    }
}

.hero {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 100px;
    position: relative;
    left: 50px;
}

.content {
    display: flex;
    flex-direction: column;
}

.container .content .heading {
    font-size: x-large;
    width: bolder;
    font-weight: 900;
    color: rgb(76, 75, 75);
}

.passion {
    display: flex;
    gap: 10px;
    transition: all 0.3s;
    animation-name: passion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#id1 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(69, 68, 68);
    animation-name: web;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes web {
    from {
        color: rgb(37, 37, 37);
        /* font-size: 33px; */
    }

    to {
        color: rgb(121, 43, 194);
        /* font-size: 36px; */
    }
}

#id2 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(121, 43, 194);
    animation-name: dev;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dev {
    from {
        color: rgb(121, 43, 194);
        /* font-size: 33px; */
        word-spacing: 0px;
    }

    to {
        color: rgb(37, 37, 37);
        /* font-size: 36px; */
        word-spacing: 5px;
    }
}

.container .paragraph {
    color: rgb(128, 127, 127);
    width: 30vw;
}

.content h3 {
    animation-name: next;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes next {
    from {
        color: rgb(25, 117, 94);
    }

    to {
        color: rgb(109, 172, 14);
    }
}

.bottom button {
    padding: 3px 20px;
    border: 3px solid purple;
    color: purple;
    cursor: pointer;
    display: flex;
    gap: 10px;

}

.b1:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transform: scale(1.10);
    transition: all 0.2s;
}

.b2:hover {
    background-color: rgb(112, 109, 109);
    color: white;
    transform: scale(1.10);
    transition: all 0.3s;

}

.footer {
    display: flex;
    gap: 1px;
    position: relative;
    left: 80px;
    align-self: self-start;
    background-color: rgb(91, 39, 151);

}

.footer #p1 {
    color: white;
    font-weight: 50px;

}

.footer #p2 {
    color: rgb(14, 134, 104);
    font-weight: 50px;
}

.image img {
    width: 40px;
    height: 60px;
    image-rendering: -moz-crisp-edges;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    top: 50px;
    right: 30px;
}

.image .image1 {
    z-index: 1;
    width: 40vw;
    height: 60vh;
    background-color: white;

}

.image .image2 {
    z-index: 5;
    position: relative;
    right: 430px;
    top: -150px;
    border-radius: 5px;
    width: 60px;
    height: 70px;

}

.image .image3 {
    z-index: 5;
    position: relative;
    top: -225px;
    right: -310px;
    border-radius: 5px;
    width: 60px;
    height: 70px;
}

.image .image4 {
    z-index: 5;
    position: relative;
    top: -50px;
    right: 50px;
    border-radius: 5px;
    width: 60px;
    height: 70px;
    background-color: white;

}

.image .image5 {
    z-index: 5;
    position: relative;
    top: -50px;
    right: -190px;
    border-radius: 5px;
    width: 60px;
    height: 70px;
    background-color: white;

}

.image img:hover {
    transform: scale(1.00);
    transition: all 0.3s;
}

.logo .dil {
    font-size: x-large;
    position: relative;
    bottom: 5px;

}

#pdf {
    display: none;
}

.opener {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    position: relative;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    width: 100px;
    background-color: rgb(219, 245, 245);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -25px;

}

a:hover {
    text-decoration: underline;
}

.button1 {
    position: absolute;
    top: -14px;
    right: -20px;
}

#gmail {
    font-size: 30px;
    color: #E1306C;
    position: relative;
    right: 40px;
    text-decoration: none;
    cursor: pointer;
    /* position: static; */
}

#gmail:hover {
    transform: scale(1.15);
    transition: all 0.1s;
}

#linkedin {
    text-decoration: none;
}

#linkedin:hover {
    transform: scale(1.15);
    transition: all 0.1s;
}

.address {
    font-size: 15px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: -180px;
    background-color: rgb(219, 245, 245);
}

.dd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;

}

/* media query for mobile phone */
@media (orientation: portrait) {


    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-left: 46px;
        padding-right: 40px;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90vh;
        position: relative;
        top: 0px;
        left: 88px;
        gap: 40px;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-size: smaller;
    }
    .navbar a{
        font-size: small;
    }
    .dd .address{
        left: -99px;
        top: 32px;
    }
    .opener ul{
        position: absolute;
        left: -2px;
    }

    .content {
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        position: relative;
        left: -20px;
    }

    .heading {
        align-self: center;
        /* font-size: smaller; */
        /* width: 300px; */

    }

    .passion #id1 {
        align-self: center;
        /* font-size: smaller; */

    }
    .passion #id2{
        align-self: center;
        /* font-size: small; */


    }

    .container .paragraph {
        width: 90%;
        font-size: smaller;
    }

    .container h3 {
        align-self: center;
    }

    .bottom button {
        align-self: center;
        position: static;
    }

    .button1 {
        align-self: center;
        position: relative;
        left: -1px;
    }

    #gmail {
        align-self: center;
        position: static;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 26px;
    }

    img {
        position: static;
    }

    .image {
        display: none;
    }

    .footer {
        position: static;
        align-self: center;
    }
}